server-app/.idea/*
server-app/Dockerfile
server-app/README.Docker.md
server-app/.dockerignore
server-app/compose.yaml
server-app/target/*
server-app/.mvn/*
server-app/src/main/resources/application.properties
front-end/node_modules/*
front-end/.env