body {
    font-family: Tahoma, sans-serif;
    background-image: url("../../background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-repeat: repeat-y;
    color: #ebebeb;
}